<app-header-fixed></app-header-fixed>
<div class="center-body">
  <br />
  <h3>Detalhes da pessoa</h3>
  <br />
  <form>
    <br />
    <div *ngIf="physicalPerson">
      <div align="center">
        <h4>Pessoa Física</h4>
      </div>
      <br/>
      <div class="input">
        <div class="input-info">
          <label>Nome</label>
        </div>
        <img src="/assets/icons/name-person.svg" alt="nome">
        <input type="text" [value]="physicalPerson.nome">
      </div>
      <div class="input">
        <div class="input-info">
          <label>Data de Nascimento</label>
        </div>
        <img src="/assets/icons/birthday-date.svg" alt="data de nascimento">
        <input type="text" [value]="physicalPerson.dataDeNascimento" placeholder="99/99/9999">
      </div>
      <div class="input">
        <div class="input-info">
          <label>CPF</label>
        </div>
        <img src="/assets/icons/cpf.svg" alt="cpf">
        <input type="text" [value]="physicalPerson.cpf" [textMask]="{mask: maskCpf, guide: false}" placeholder="999.999.999-99">
      </div>
      <div class="input">
        <div class="input-info">
          <label>RG</label>
        </div>
        <img src="/assets/icons/rg.svg" alt="rg">
        <input type="text" [value]="physicalPerson.rg">
      </div>
      <div class="input">
        <div class="input-info">
          <label>CEP</label>
        </div>
        <img src="/assets/icons/cep.svg" alt="cep">
        <input type="text" [value]="physicalPerson.cep" [textMask]="{mask: maskCep, guide: false}" placeholder="99999-999">
      </div>
      <div class="input">
        <div class="input-info">
          <label>Logradouro</label>
        </div>
        <img src="/assets/icons/street.svg" alt="logradouro">
        <input type="text" [value]="physicalPerson.logradouro">
      </div>
      <div class="input">
        <div class="input-info">
          <label>Número</label>
        </div>
        <img src="/assets/icons/number-home.svg" alt="número">
        <input type="text" [value]="physicalPerson.numero">
      </div>
      <div class="input">
        <div class="input-info">
          <label>Bairro</label>
        </div>
        <img src="/assets/icons/district.svg" alt="bairro">
        <input type="text" [value]="physicalPerson.bairro">
      </div>
      <div class="input">
        <div class="input-info">
          <label>Estado</label>
        </div>
        <img src="/assets/icons/state.svg" alt="estado">
        <select>
          <option>{{physicalPerson.estado}}</option>
        </select>
      </div>
      <div class="input">
        <div class="input-info">
          <label>Cidade</label>
        </div>
        <img src="/assets/icons/city.svg" alt="cidade">
        <input type="text" [value]="physicalPerson.cidade">
      </div>
      <div class="input">
        <div class="input-info">
          <label>Telefone</label>
        </div>
        <img src="/assets/icons/telephone.svg" alt="telefone">
        <input type="text" [value]="physicalPerson.telefone" [textMask]="{mask: maskFone, guide: false}" placeholder="(99) 99999-9999">
      </div>
      <div class="input">
        <div class="input-info">
          <label>E-mail</label>
        </div>
        <img src="/assets/icons/email.svg" alt="e-mail">
        <input type="email" [value]="physicalPerson.email">
      </div>
      <br/>
    </div>
    <div *ngIf="legalPerson">
      <div align="center">
        <h4>Pessoa Júridica</h4>
      </div>
      <br/>
      <div class="input">
        <div class="input-info">
          <label>CNPJ</label>
        </div>
        <img src="/assets/icons/cnpj.svg" alt="cnpj">
        <input type="text" [value]="legalPerson.cnpj" [textMask]="{mask: maskCnpj, guide: false}" placeholder="99.999.999/9999-99">
      </div>
      <div class="input">
        <div class="input-info">
          <label>Razão Social</label>
        </div>
        <img src="/assets/icons/social-reason.svg" alt="razão social">
        <input type="text" [value]="legalPerson.razaoSocial">
      </div>
      <div class="input">
        <div class="input-info">
          <label>Nome Fantasia</label>
        </div>
        <img src="/assets/icons/fantasy-name.svg" alt="nome fantasia">
        <input type="text" [value]="legalPerson.nomeFantasia">
      </div>
      <div class="input">
        <div class="input-info">
          <label>Inscrição Estadual</label>
        </div>
        <img src="/assets/icons/estadual-inscription.svg" alt="inscrição estadual">
        <input type="text" [value]="legalPerson.inscEstadual">
      </div>
      <div class="input">
        <div class="input-info">
          <label>CEP</label>
        </div>
        <img src="/assets/icons/cep.svg" alt="cep">
        <input type="text" [value]="legalPerson.cep" [textMask]="{mask: maskCep, guide: false}" placeholder="99999-999">
      </div>
      <div class="input">
        <div class="input-info">
          <label>Logradouro</label>
        </div>
        <img src="/assets/icons/street.svg" alt="logradouro">
        <input type="text" [value]="legalPerson.logradouro">
      </div>
      <div class="input">
        <div class="input-info">
          <label>Número</label>
        </div>
        <img src="/assets/icons/number-home.svg" alt="número">
        <input type="text" [value]="legalPerson.numero">
      </div>
      <div class="input">
        <div class="input-info">
          <label>Bairro</label>
        </div>
        <img src="/assets/icons/district.svg" alt="bairro">
        <input type="text" [value]="legalPerson.bairro">
      </div>
      <div class="input">
        <div class="input-info">
          <label>Estado</label>
        </div>
        <img src="/assets/icons/state.svg" alt="estado">
        <select>
          <option>{{legalPerson.estado}}</option>
        </select>
      </div>
      <div class="input">
        <div class="input-info">
          <label>Cidade</label>
        </div>
        <img src="/assets/icons/city.svg" alt="cidade">
        <input type="text" [value]="legalPerson.cidade">
      </div>
      <div class="input">
        <div class="input-info">
          <label>Telefone</label>
        </div>
        <img src="/assets/icons/telephone.svg" alt="telefone">
        <input type="text" [value]="legalPerson.telefone" [textMask]="{mask: maskFone, guide: false}" placeholder="(99) 99999-9999">
      </div>
      <div class="input">
        <div class="input-info">
          <label>E-mail</label>
        </div>
        <img src="/assets/icons/email.svg" alt="e-mail">
        <input type="email" [value]="legalPerson.email">
      </div>
      <br/>
    </div>
    <div class="bt-function">
      <button type="button" class="confirm">Editar</button>
      <button type="button" class="cancel" (click)="goBack()">Voltar</button>
    </div>
  </form>
</div>
<app-footer-fixed></app-footer-fixed>